<div class="container">
    {{#if length}}
    <br><br>
        <div class="row">
            <div class="col-lg-12" >
                {{#each  companies}}
                    <div class="col-lg-12" style="border: 1px solid black">
                    <h1 style="overflow-wrap: break-word;">{{this.name}}</h1>
                    <br>
                    <br>
                    <a href={{constructReader}}><button class="btn btn-warning ml-2" >Read More</button></a>
                    </div>
                <br><br><br>
                {{/each}}
            </div>
        </div>
    {{/if}}
</div>