<div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <h3>Company Name: {{this.name}}</h3>
                    <br><br>
                    Present Employess:
                    <h3>Employees: {{this.employee}}</h3>
            </div>
        </div>
</div>